Pipeline/.nextflow
Pipeline/Results/
Pipeline/RawData/*.fastq.gz
Pipeline/RawData/*.fastq
Pipeline/.nextflow.log*
Pipeline/.nextflow
Pipeline/work/
Pipeline/conda
Pipeline/Scripts/selective_assembly.nf