
params {
  conda_cache_dir = "conda"
  conda_create_options = ""
  conda_create_timeout = "20 min"
  singularity_cache_dir = "$HOME/scratch/singularity_containers/"

}


profiles {
  rki_singularity {
    singularity {
      enabled = true
      autoMounts = true
      envWhitelist = "HTTPS_PROXY,HTTP_PROXY,http_proxy,https_proxy,FTP_PROXY,ftp_proxy"
      cacheDir = params.singularity_cache_dir
    }
  }

  rki_conda {
    conda {
      enabled = true
      cacheDir = params.conda_cache_dir
      createOptions = params.conda_create_options
      createTimeout = params.conda_create_timeout
    }
  }
  
  rki_mamba {
    conda {
      enabled = true
      useMamba = true
      cacheDir = params.conda_cache_dir
      createOptions = params.conda_create_options
      createTimeout = params.conda_create_timeout
    }
  }

  rki_slurm {
    executor {
      name = "slurm"
      queueSize = 20
      // exitReadTimeout = '360 sec'
      // submitRateLimit = '1/2s'
      // pollInterval = '30 sec' 
    }
    process {
      cache = "lenient"
      cpus = "1"
         withLabel: "kraken2" {
          cpus = "10"
          memory = "150 GB"
          time = "4 h"
         }
         withLabel: "krakentools" {
          cpus = "1"
          memory = "1 GB"
          time = "1 h"
         }
    }
  }

  rki_priority {
    process {
      clusterOptions = '--partition=priority'
    }
  }
}